
<div class="card card-flush py-4" style="width: 300px">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card title-->
    <div class="card-title">
      <h2>Status</h2>
    </div>
    <!--end::Card title-->

    <!--begin::Card toolbar-->
    <div class="card-toolbar">
      <div
        class="rounded-circle bg-success w-15px h-15px"
        id="kt_ecommerce_add_product_status"
      ></div>
    </div>
    <!--begin::Card toolbar-->
  </div>
  <!--end::Card header-->

  <!--begin::Card body-->
  <div class="card-body pt-0">
    <!--begin::Select2-->
    <select
      class="form-select mb-2 select2-hidden-accessible"
      data-control="select2"
      data-hide-search="true"
      data-placeholder="Select an option"
      id="kt_ecommerce_add_product_status_select"
      data-select2-id="select2-data-kt_ecommerce_add_product_status_select"
      tabindex="-1"
      aria-hidden="true"
      data-kt-initialized="1"
      (change)="changeStatus($event)"
    >
      <option
        *ngFor="let item of statuses; let i = index"
        [value]="item"
        selected=""
        data-select2-id="select2-data-11-wbuw"
      >
        {{ item }}
      </option>
    </select>
    <!--end::Select2-->

    <!--begin::Description-->
    <div class="text-muted fs-7">Set the product status.</div>
    <!--end::Description-->

    <!--begin::Datepicker-->
    <div class="d-none mt-10">
      <label for="kt_ecommerce_add_product_status_datepicker" class="form-label"
        >Select publishing date and time</label
      >
    </div>
    <!--end::Datepicker-->
    <ul>
      <li *ngFor="let item of statusesObjects | filter : sellectedStatus">ID:{{item.id}} - {{item.name}}</li>
    </ul>
  </div>
  <!--end::Card body-->
</div>
